{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
    <span class="company">{{news.pubDate|date('d/m/Y')}}</span>
    <span class="company">{{news.title}}</span>
    <span class="lastname">{{news.description}}</span>
    <span class="lastname">{{news.author}}</span>
{% endblock %}