{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="fixed_content">
        <h1>Erreur 500</h1>
        
        <p>
            Une erreur interne au serveur est survenue.
            <a href="mailto:{{ support }}">Prévenez-nous !</a>
        </p>
    </div>
       
   {% endblock %}