{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="fixed_content">
        <h1>Erreur 404</h1>
        
        <p>
            La page demandée n'existe pas.
        </p>
    </div>
       
   {% endblock %}