<nav>
    <ul>
        <li> <a href="{{ path('web_marketeur_add_client') }}"> Nouvelle fiche </a> </li>
        <li> <a href="{{ path('agenda_index') }}"> Rendez-vous </a> </li>
    </ul>
</nav>
