<nav>
    <ul>
        <li> <a href="{{ path('clients_index') }}" {% if app.request.attributes.get('_route') == 'clients_index' %} class="current" {% endif %}> Clients</a> </li>
        <li> <a href="{{ path('agenda_index') }}" {% if app.request.attributes.get('_route') == 'agenda_index' %} class="current" {% endif %}> Rendez-vous </a> </li>
        <li> <a href="{{ path('web_marketeur_add_client') }}" {% if app.request.attributes.get('_route') == 'web_marketeur_add_client' %} class="current" {% endif %}> Nouvelle fiche </a> </li>
    </ul>
</nav>
