{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
<div class="expertise_content">
	<div class="slider">
        <div class="fixed_content">
        	<p class="accroche">Les points clés de <strong>notre domaine d'expertise</strong></p>
        </div>
	</div>
	<div class="fixed_content">
    	<h1>Notre domaine d'expertise</h1>
    	<p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    	<p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    	<p>Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura :</p>
    	<br><br>
    	<div id="referencement" class="expertise_detail_content">
    		<div class="blocE">
                <img src="{{ asset('bundles/market3wsite/images/expertise/seo.png') }}" alt="Expert en Référencement Naturel">
            </div>
    		<div class="expertise_detail">
    			<h2>Référencement naturel</h2>
    			<p>Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</p>
    		</div>
    	</div>

    	<div id="etude_marketing" class="expertise_detail_content">
    		<div class="blocE">
                <img src="{{ asset('bundles/market3wsite/images/expertise/etude_marketing.png') }}" alt="Expert en étude marketing">
            </div>
    		<div class="expertise_detail">
    			<h2>Etude marketing</h2>
    			<p>Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</p>
    		</div>
    	</div>

    	<div id="ecommerce" class="expertise_detail_content">
    		<div class="blocE">
                <img src="{{ asset('bundles/market3wsite/images/expertise/ecommerce.png') }}" alt="Expert en e-commerce">
            </div>
    		<div class="expertise_detail">
    			<h2>Spécialiste e-commerce</h2>
    			<p>Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</p>
    		</div>
    	</div>

    	<div id="marketing_mobile" class="expertise_detail_content">
    		<div class="blocE">
                <img src="{{ asset('bundles/market3wsite/images/expertise/marketing_mobile.png') }}" alt="Expert en Marketing mobile">
            </div>
    		<div class="expertise_detail">
    			<h2>Marketing mobile</h2>
    			<p>Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</p>
    		</div>
    	</div>

    	<h2>En conclusion</h2>
    	<p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    	<p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    </div>
    
</div>
{% endblock %}