{% extends 'Market3wSiteBundle::layout.html.twig' %}
{% block content %}
    <div>SLIDER</div>
    <p>
        Besoin d'un conseil ?
        Vous voulez nous parler de votre projet ?
        Vous avez une autre question ? Contactez nous !
        <a href="">Nous contacter</a>
    </p>
    <h1>Notre expertise</h1>
    <img src="" alt="referencement">
    <p>Référencement naturel</p>
    <img src="" alt="etude_marketing"> 
    <p>Etude marketing</p>
    <img src="" alt="ecommerce"> 
    <p>Spécialiste e-commerce</p>
    <img src="" alt="marketing_mobile"> 
    <p>Marketing mobile</p>
    <h1>Nos dernières réalisations</h1>
    <h1>Qui sommes-nous ?</h1>
    <h2>Market3w</h2>
    <p>
        Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une 
        Wurschtsalad avec un picon bitte, s'il te plaît. Voss ? Une Carola et 
        du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !
    </p> 
    <p>
        Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du messt
        de Bischheim était au Christkindelsmärik en compagnie de Richard 
        Schirmeck (celui qui a un blottkopf), le mari de Chulia Roberstau, qui 
        lui trempait sa Nüdle dans sa Schneck ! Yo dû, Pfourtz ! Ch'espère 
        qu'ils avaient du Kabinetpapier, Gal !
    </p>
    <h1>Nous suivre</h1>
    <p>
        Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une 
        Wurschtsalad avec un picon bitte, s'il te plaît. Voss ? Une Carola et 
        du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !
    </p>
    <ul>
        <li><a href="https://fr-fr.facebook.com/" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
        <li><a href="https://plus.google.com/" target="_blank">Google+</a></li>
        <li><a href="https://fr.linkedin.com/" target="_blank">LinkedIn</a></li>
    </ul>
{% endblock %}