{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
    <div class="fixed_content">
        <a class="intranet_button" href="{{ path( 'client_show', {'id':idClient} ) }}">Retour</a>

        {% if bill.type.name == 'Devis' and  bill.status.name == 'En attente de réponse' or 
              bill.type.name == 'Facture' and  bill.status.name != 'Payée'
        %}
            <a class="intranet_button" href="{{ path('bill_edit', {'idClient': idClient, 'idBill' : bill.id}) }}">Editer</a>
        {% endif %}
        
        {% if bill.type.name == 'Devis' and bill.status.name == 'Accepté' %}
            <a class="intranet_button" href="{{ path('bill_estimate_to_bill', {'idClient': idClient, 'idBill' : bill.id}) }}">Générer la facture</a>
        {% endif %}
        
        
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        
        {% include 'Market3wSiteBundle:Intranet/Bill:_billDetail.html.twig' with { 'bill': bill } %}
        
    </div> 
{% endblock %}
