/*Faire un pull avant chaque modif > clic droit Git > Remote > Pull*/
/*lancer netbeans > clic droit Symphony2 > run command > doctrine:schema:update -- force*/
/*lancer netbeans > clic droit Symphony2 > clear cache*/
/*lancer netbeans > clic droit Symphony2 > run command > assetic:install --symlink*/
/*lancer netbeans > clic droit Symphony2 > run command > assetic:dump*/
/*lancer netbeans > clic droit Symphony2 > run command > assetic:dump --watch*/

body{
	margin:0;
	padding:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color:#474747;
}

/**************Phrase d'Accroche**************/
.accroche{
	font-family: allerbold,"Arial Black",Helvetica,sans-serif;
	font-size: 36px;
	color: #FFF;
	text-align: center;
	padding-top:150px;
	margin-top:0;
}

.sub_accroche{
	font-size: 26px;
	color: #FFF;
	text-align: center;
}


/**************SLIDER**************/

.slider{
	height:500px;
	width: 100%;
	background-color: #1abc9c;
	position: relative;
	overflow: hidden;
}

.expertise_content .slider {
	background: url("../images/expertise/expertise_background.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.realisations_content .slider {
	background: url("../images/realisation/realisations_background.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.societe_content .accroche {
	position: absolute;
	width: inherit;
	z-index: 100;
}
/**************VIDEO**************/
.video_content{
	height:700px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	position: relative;
	overflow: hidden;
}
video#bgvid {
	position: absolute; 
	top:0;
	right: 0; 
	min-width: 100%; 
	min-height: 100%;
	width: 100%; 
	height: auto; 
	z-index: -100;
	background: url("../images/video/static_background.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.image_back {
	display: none;
}
.video_bouton{
	width:inherit;
	text-align: center;
	color:#2E3533;
	position: absolute;
	top: 35%;
}

.video_bouton a{
	display: block;
	height:40px;
	width:200px;
	margin: auto;
	line-height: 40px;
	border: 2px solid #1abc9c;
	color: #2E3533;
	transition: all 0.3s;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
}
.video_bouton a:hover{
	background: #1abc9c;
	color:#fff;
}
.video_accroche{
	font-family: allerbold,"Arial Black",Helvetica,sans-serif;
	font-size: 36px;
	color: #1abc9c;
}
.sub_video_accroche{
	margin-top: -20px;
	font-size: 16px;
}
/*********media queries slider*********/
/*****écrans inférieur à 1300px*****/
@media screen and (max-width: 1300px) {
	.video_content{
		height:520px;
	}
}
/*****écrans inférieur à 960px*****/
@media screen and (max-width: 960px) {
	.video_content{
		height:360px;
	}
	.video_bouton{
		top: 5%;
	}

}
/*****écrans inférieur à 660px*****/
@media screen and (max-width: 660px) {
	.video_content{
		height:300px;
	}
	.video_accroche{
		font-size: 24px;
	}
	.sub_video_accroche{
		margin-top: -20px;
		font-size: 14px;
	}
}
/***slider responsif***/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides > li{
  width: 100%;
  height: 500px;
}

.rslides li a{
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
 }

.rslides_tabs {
	position: absolute;
	bottom: 0;
	margin: auto;
	padding:0;
	text-align: center;
	width: inherit;
	z-index:10;
}

.rslides_tabs li a{
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	color: #FFF;
	background: #18836e;
	text-decoration: none;
	transition: all 0.3s;
}

.rslides_tabs li a:hover{
	background: #FFF;
	color: #1abc9c;
	text-decoration: none;
}

.rslides_tabs li{
	display: inline-block;
	list-style-type: none;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
}

.rslides_tabs .rslides_here a{
	background: #FFF;
	color: #1abc9c;
}

.slide1{
	background: url("../images/societe/societe_background1.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: inherit;
	width: inherit;
}

.slide2{
	background: url("../images/societe/societe_background2.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: inherit;
	width: inherit;
}

.slide3{
	background: url("../images/societe/societe_background3.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: inherit;
	width: inherit;
}

.slide4{
	background: url("../images/societe/societe_background4.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: inherit;
	width: inherit;
}

.slide5{
	background: url("../images/societe/societe_background5.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: inherit;
	width: inherit;
}


/**************CONTACT**************/
.contact_field{
	padding: 20px 0;
	background: #2e3533;
	color: #FFF;
}

.contact_field .fixed_content{
	height: 40px;
	/*border: 2px solid #1abc9c;*/
	font-size: 16px;
	padding:0 10px;
	position: relative;
	border-radius: 10px;
}
.contact_button{
	position: absolute;
	right:0;
	top:-5px;
	height:40px;
	width:160px;
	text-align: center;
}

.contact_button a{
	height:40px;
	width:160px;
	line-height: 40px;
	background: #1abc9c;
	color:#FFF;
	text-decoration: none;
	display: block;
	font-size: 14px;
	opacity:1;
	transition: opacity 0.3s;
}

.contact_button a:hover{
	opacity:0.8;
}

.contact_hidden {
            display: none !important;
}

/**************ACCUEIL EXPERTISE**************/
.expertise{
	padding:80px 0;
	color:#FFF;
	background: url("../images/expertise/expertise_fond.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.expertise h1{
	color:#FFF;
}
.all_bloc_content{
	text-align: center;
	margin-top: 30px;
}
.bloc_content{
	display: inline-block;
	margin:0 5px;
	margin-bottom: 120px;
	height:100px;
	text-align: center;
}
.bloc_content p{
	color:#fff;
	font-family: allerbold,"Arial Black",Helvetica,sans-serif;
	font-size: 16px;
}

.blocE{
	display:block;
	height:120px;
	width:120px;
	margin: auto;
	border-radius: 200px;
	border:2px solid #FFF;
	background-color: rgba(255, 255, 255, 0.5);
	opacity: 1;
	transition:all 0.3s;
}
.blocE:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
}

/**************ACCUEIL REALISATIONS**************/
.realisations{
	padding:80px 0;
}

.realisations .bloc_content{
	display: inline-block;
	margin:0;
	height:180px;
	text-align: center;
}

.blocR{
	display:inline-block;
	margin:10px;
	background: url("../images/blocR.png")no-repeat;
	height:180px;
	width:180px;
	opacity: 1;
	overflow: hidden;
	vertical-align: top;
	transition:opacity 0.3s;
}
.detail_realisations {
	font-size: 18px;
	font-weight: bold;
	margin-left: 500px;
	height: 180px;
	width: 180px;
	color: #FFF;
	padding-top: 60px;
	transition-property: margin;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	display: block;
	background: rgba(46, 53, 51, 0.7);
	vertical-align:top;
}
.detail_realisations em{
	font-size: 12px;
	margin-top: -5px;
}

.detail_separator{
	background: #1abc9c;
	width:60px;
	height:1px;
	margin:10px auto 5px;
	border: none;
}

.bloc_content:hover > .detail_realisations{
	margin-left: 0;
}
/**************ACCUEIL INFORMATIONS**************/
.informations{
	padding:80px 0;
	background: url("../images/informations/info_background.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#FFF;
}
.informations h2{
	color:#FFF;
}
.about{
	display: inline-block;
	width:50%;
	margin-right: 50px;
	vertical-align: top;
}
.follow{
	display: inline-block;
	width:40%;
	vertical-align: top;
}
.follow_content{
	text-align: center;
	width: 100%;
}
.follow_content ul{
	padding:0;
}
.follow_content ul li{
	display: inline-block;
	list-style-type: none;
	margin: 5px 5px;
}
.follow_content a{
	display: inline-block;
	height:50px;
	width:50px;
	border-radius: 10px;
	transition:all 0.3s;
}
.follow_content a:hover{
	border-radius: 25px;
}
.facebook{
	background: url("../images/facebook.png")no-repeat;
}
.twitter{
	background: url("../images/twitter.png")no-repeat;
}
.googleplus{
	background: url("../images/googleplus.png")no-repeat;
}
.linkedin{
	background: url("../images/linkedin.png")no-repeat;
}

/**************CONTACT CONTENTS**************/
.contact_content{
	margin-bottom: 50px;
}
.contact_form {
    background: none repeat scroll 0 0 #1abc9c;
    /*border: 3px solid #18836e;*/
    color: #fff;
    margin: auto;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
}
.contact_element{
	margin-bottom: 20px;
}
.contact_element label {
    font-size: 16px;
}
.contact_element textarea{
    width: 99%;
}
.contact_form .submit{
	background: #FFF;
	/*border: 3px solid #18836e;*/
	height:40px;
	color: #18836e;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s;
	margin-top: 10px;
}
.contact_form .submit:hover{
	background: #18836e;
	color: #FFF;
}
.contact_form input[type=text] {
	display: block;
}
/**************PAGE EXPERTISE**************/
.expertise_content{
	margin-bottom: 100px;
}
.expertise_detail_content{
	margin-bottom: 30px;
}

.expertise_detail_content .blocE{
	margin-top: 50px;
	border:2px solid #1abc9c;
}

.expertise_detail_content .blocE{
	display: inline-block;
}
.expertise_detail{
	display: inline-block;
	vertical-align: top;
    width: 70%;
    margin-left: 20px;
}

/**************PAGE REALISATIONS**************/
.realisations_content{
	margin-bottom: 100px;
}
.realisation_apercu_content, .realisation_apercu{
	height: 800px;
	width: 800px;
	margin: auto;
}

/**************PAGE SOCIETE**************/
.overlay {
    background:transparent; 
    position:relative; 
    width:100%;
    height:400px; 
    top:400px; 
    margin-top:-400px;
}
.google_map{
	height: 400px;
	width: 100%;
	margin-bottom: -3px;
}
.all_team_content{
	text-align: center;
}
.team_content{
	display: inline-block;
	margin: 20px;
	width: 250px;
	vertical-align: top;
}
.team_content strong{
	text-align: center!important;
	color:#18836e;
}
.team_content p{
	text-align: left;
}
.team_content img{
	display:block;
	height:150px;
	width:150px;
	border-radius: 80px;
	transition:all 0.3s;
}

