/*Faire un pull avant chaque modif > clic droit Git > Remote > Pull*/
/*lancer netbeans > clic droit Symphony2 > run command > doctrine:schema:update -- force*/
/*lancer netbeans > clic droit Symphony2 > clear cache*/
/*lancer netbeans > clic droit Symphony2 > run command > assetic:install --symlink*/
/*lancer netbeans > clic droit Symphony2 > run command > assetic:dump*/
/*lancer netbeans > clic droit Symphony2 > run command > assetic:dump --watch*/

/**************Phrase d'Accroche**************/
.accroche{
	font-size: 36px;
	color: #FFF;
	text-align: center;
	padding-top:150px;
	margin-top:0;
}


/**************SLIDER**************/
.slider{
	height:400px;
	width: 100%;
	background:#1abc9c;
	margin-bottom: 20px;
}

/**************CONTACT**************/
.contact_field{
	height: 40px;
	border: 5px solid #1abc9c;
	padding:0 10px;
	position: relative;
	border-radius: 15px;
}
.contact_button{
	position: absolute;
	right:0;
	top:0;
	height:40px;
	width:160px;
	text-align: center;
}

.contact_button a{
	height:40px;
	width:160px;
	line-height: 40px;
	background: #1abc9c;
	color:#FFF;
	text-decoration: none;
	display: block;
	font-size: 14px;
	opacity:1;
	transition: opacity 0.3s;
}

.contact_button a:hover{
	opacity:0.8;
}

/**************ACCUEIL EXPERTISE**************/
.expertise{
	margin:80px 0;
}
.all_bloc_content{
	text-align: center;
}
.bloc_content{
	display: inline-block;
	margin:0 5px;
}
.bloc_content p{
	color:#1abc9c;
	font-family: allerbold,"Arial Black",Helvetica,sans-serif;
	font-size: 16px;
}
.blocE{
	display:block;
	background: url("../images/blocE.png")no-repeat;
	height:180px;
	width:180px;
	opacity: 1;
	transition:opacity 0.3s;
}
.blocE:hover{
	opacity: 0.8;
	transition:opacity 0.3s;
}

/**************ACCUEIL REALISATIONS**************/
.realisations{
	margin:80px 0;
}
.blocR{
	display:block;
	background: url("../images/blocR.png")no-repeat;
	height:180px;
	width:180px;
	opacity: 1;
	transition:opacity 0.3s;
}
.blocR:hover{
	opacity: 0.8;
	transition:opacity 0.3s;
}

/**************ACCUEIL INFORMATIONS**************/
.informations{
	margin:80px 0;
}
.about{
	display: inline-block;
	width:50%;
	margin-right: 50px;
	vertical-align: top;
}
.follow{
	display: inline-block;
	width:40%;
	vertical-align: top;
}
.follow_content{
	text-align: center;
	width: 100%;
}
.follow_content ul{
	padding:0;
}
.follow_content ul li{
	display: inline-block;
	list-style-type: none;
	margin: 0 5px;
}
.follow_content a{
	display: inline-block;
	height:50px;
	width:50px;
	border-radius: 10px;
	opacity:1;
	transition:all 0.3s;
}
.follow_content a:hover{
	border-radius: 20px;
	opacity:0.8;
}
.facebook{
	background: url("../images/facebook.png")no-repeat;
}
.twitter{
	background: url("../images/twitter.png")no-repeat;
}
.googleplus{
	background: url("../images/googleplus.png")no-repeat;
}
.linkedin{
	background: url("../images/linkedin.png")no-repeat;
}

/**************CONTACT CONTENTS**************/
.contact_content{
	margin-bottom: 50px;
}
.contact_form {
    background: none repeat scroll 0 0 #1abc9c;
    border: 3px solid #18836e;
    color: #fff;
    margin: auto;
    padding: 15px;
    width: 500px;
    border-radius: 20px;
}
.contact_element{
	margin-bottom: 20px;
}
.contact_element label {
    font-size: 16px;
}
.contact_form .submit{
	background: #FFF;
	border: 3px solid #18836e;
	height:40px;
	color: #18836e;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s;
	margin-top: 10px;
}
.contact_form .submit:hover{
	background: #1abc9c;
	color:#FFF;
}

/**************PAGE EXPERTISE**************/
.expertise_detail_content{
	margin-bottom: 30px;
}
.expertise_detail_content .blocE{
	display: inline-block;
}
.expertise_detail{
	display: inline-block;
	vertical-align: top;
    width: 70%;
    margin-left: 20px;
}

/**************PAGE REALISATIONS**************/
.realisation_apercu_content, .realisation_apercu{
	height: 800px;
	width: 800px;
	margin: auto;
}

/**************PAGE SOCIETE**************/
.google_map_conteneur{
	border-top: 5px solid #18836e;
}
.google_map{
	height: 400px;
	width: 100%;
	margin-bottom: -54px;
}
.all_team_content{
	text-align: center;
}
.team_content{
	display: inline-block;
	margin: 20px;
	width: 200px;
	vertical-align: top;
}
.team_content strong{
	text-align: center!important;
	color:#18836e;
}
.team_content p{
	text-align: left;
}
.team_content img{
	display:block;
	height:100px;
	width:100px;
	border-radius: 60px;
	border: 5px solid #1abc9c;
	transition:all 0.3s;
}

.team_content img:hover{
	border: 5px solid #c6f5ec;
}
