{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
<div class="realisations_content">
	<div class="slider">
        <div class="fixed_content">
        	<p class="accroche">Notre objectif <strong>satisfaire notre clientèle</strong></p>
        </div>
	</div>

	<div class="fixed_content">
    	<h1>Nos Réalisations</h1>
    	<p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    	<p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    	<p>Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura :</p>

    	<h2>Projet 1</h2>
    	<div class="realisation_apercu_content">
    		<img class="realisation_apercu" src="{{ asset('bundles/market3wsite/images/realisation/exemple-realisations.png') }}" alt="">
    	</div>
    	<h3>Société : Entreprise A</h3>
    	<p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    	<h3>Objectif :</h3>
    	<p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    	<h3>Conclusion :</h3>
    	<p>Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura.</p>

    	<h2>Projet 2</h2>
    	<div class="realisation_apercu_content">
    		<img class="realisation_apercu" src="{{ asset('bundles/market3wsite/images/realisation/exemple-realisations.png') }}" alt="">
    	</div>
    	<h3>Société : Entreprise B</h3>
    	<p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    	<h3>Objectif :</h3>
    	<p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    	<h3>Conclusion :</h3>
    	<p>Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura.</p>

    	<h2>Projet 3</h2>
    	<div class="realisation_apercu_content">
    		<img class="realisation_apercu" src="{{ asset('bundles/market3wsite/images/realisation/exemple-realisations.png') }}" alt="">
    	</div>
    	<h3>Société : Entreprise C</h3>
    	<p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    	<h3>Objectif :</h3>
    	<p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    	<h3>Conclusion :</h3>
    	<p>Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura.</p>

    	<h2>Projet 4</h2>
    	<div class="realisation_apercu_content">
    		<img class="realisation_apercu" src="{{ asset('bundles/market3wsite/images/realisation/exemple-realisations.png') }}" alt="">
    	</div>
    	<h3>Société : Entreprise D</h3>
    	<p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    	<h3>Objectif :</h3>
    	<p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    	<h3>Conclusion :</h3>
    	<p>Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura.</p>
    </div>
</div>
{% endblock %}