{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
    <div class="fixed_content">
        <a class="profile_button" href="{{ path('market3w_site_client_billing') }}">Retour</a>

        {% include 'Market3wSiteBundle:Intranet/Bill:_billDetail.html.twig' with { 'bill': bill } %}

    </div>
{% endblock %}