{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
<div class="billing_field">
    <div class="fixed_content">
        <a class="profile_button" href="{{ path('fos_user_profile_show') }}">Retour</a>
        
        <h1>Vos devis</h1>
	{% include 'Market3wSiteBundle:Intranet/Bill:_listEstimate.html.twig' with { 'view': 'client' } %}

        <h1>Vos factures</h1>
        {% include 'Market3wSiteBundle:Intranet/Bill:_listBill.html.twig' with { 'view': 'client' } %}
    </div>
</div>
{% endblock %}
