{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
<div class="billing_field">
    <div class="fixed_content">
	    <h1>Vos factures</h1>
	    <ul>
	        {% for bill in bills %}
	            <li>{{ bill.dateBilling|date("m/d/Y") }} : {{ bill.calculateTotalTTC }} €</li>
	        {% endfor %}
	    </ul>
    </div>
</div>
{% endblock %}
