{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}

    <ul>
{#        <li><a href="{{ path('') }}">Gestion des utilisateurs</a></li>#}
        <li><a href="{{ path('admin_project') }}">Gestion des projets</a></li>
    </ul>

{% endblock %}
