<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>

<div id="SkypeButtonCall">
    <script type="text/javascript">
        Skype.ui({
          "name": "dropdown",
          "element": "SkypeButtonCall",
          "participants": ["{{ pseudo }}"],
          "imageColor": "white",
          "imageSize": 24
        });
    </script>
</div>
