<script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>

<div class="SkypeButtonCall_paraElement" id="SkypeButtonCall_{{ pseudo }}">
    <script type="text/javascript">
        Skype.ui({
          "name": "dropdown",
          "element": "SkypeButtonCall_{{ pseudo }}",
          "participants": ["{{ pseudo }}"],
          "imageColor": "white",
          "imageSize": 24
        });
    </script>
</div>
