{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
    Un email de confirmation a bien été envoyé au client !!
    <a href="{{ path('agenda_index') }}">Retour</a>
{% endblock %}
