{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
    <div class="fixed_content">
	    Un email de confirmation a bien été envoyé au client !!
	    <a class="intranet_button" href="{{ path('agenda_index') }}">Retour</a>
	</div>
{% endblock %}
