{% extends 'Market3wSiteBundle::backendLayout.html.twig' %}

{% block content %}
<div class="agenda_content">
    <div class="fixed_content">
    <h1>Rendez-vous à venir</h1>
    <ul>
        {% for appointment in appointments %}
            <li><a href="{{ path('agenda_show_appointment', {'id':appointment.id}) }}">{{ appointment.date|date("m/d/Y") }}</a> à {{ appointment.hour|date("H:i") }}</li>
        {% endfor %}
    </ul>
     </div>
</div>
{% endblock %}