{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
<div class="societe_content">
	<div class="slider">
        <div class="fixed_content">
        	<p class="accroche">En savoir plus sur <strong>notre Agence et son Equipe</strong></p>
        </div>
	</div>
	<div class="fixed_content">
    	<h1>A propos de Market<span class="logo_end">3W</span></h1>
    	<p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    	<p>Ideo urbs venerabilis post superbas efferatarum gentium cervices oppressas latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens et prudens et dives Caesaribus tamquam liberis suis regenda patrimonii iura permisit.</p>
    	<p>Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura</p>
    	<h2>Notre Historique</h2>
    	<p>Latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens :</p>
    	<ul>
    		<li><strong>1998 :</strong> Celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum.</li>
    		<li><strong>2002 :</strong> Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium.</li>
    		<li><strong>2005 :</strong> Montius nos tumore inusitato quodam et novo ut rebellis et maiestati recalcitrantes Augustae per haec quae strepit incusat iratus nimirum.</li>
    		<li><strong>2011 :</strong>  Homerici bacarum suavitate Lotophagi, humanitatis multiformibus officiis retentabant.</li>
    		<li><strong>2014 :</strong> Illud autem non dubitatur quod cum esset aliquando virtutum omnium domicilium Roma, ingenuos advenas plerique nobilium.</li>
    	</ul>	
    	<h2>Notre Equipe</h2>
    	<p>Latasque leges fundamenta libertatis et retinacula sempiterna velut frugi parens :</p>
    	<div class="all_team_content">
            <div class="team_content">
                <img class="realisation_apercu" src="{{ asset('bundles/market3wsite/images/societe/team1.jpg') }}" alt="">
                <h3>Gérard Levis</h3>
                <p><strong>Président</strong></p>
                <p>Oportunum est, ut arbitror, explanare nunc causam, quae ad exitium praecipitem Aginatium inpulit iam inde a priscis maioribus nobilem, ut locuta est pertinacior fama. nec enim super hoc ulla documentorum rata est fides.</p>
            </div>
            <div class="team_content">
                <img class="realisation_apercu" src="{{ asset('bundles/market3wsite/images/societe/team2.jpg') }}" alt="">
                <h3>Jacqueline Hune</h3>
                <p><strong>Chef de projet marketing</strong></p>
                <p>Nemo quaeso miretur, si post exsudatos labores itinerum longos congestosque adfatim commeatus fiducia vestri ductante barbaricos pagos adventans velut mutato repente consilio ad placidiora deverti.</p>
            </div>
            <br>
            <div class="team_content">
                <img class="realisation_apercu" src="{{ asset('bundles/market3wsite/images/societe/team3.jpg') }}" alt="">
                <h3>Eddie Ford</h3>
                <p><strong>Spécialiste e-commerce</strong></p>
                <p>Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris incertus agitare quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes de industria milites agentes in civitatibus perviis.</p>
            </div>
            <div class="team_content">
                <img class="realisation_apercu" src="{{ asset('bundles/market3wsite/images/societe/team4.jpg') }}" alt="">
                <h3>Liliane Walters</h3>
                <p><strong>Intégratrice</strong></p>
                <p>Et prima post Osdroenam quam, ut dictum est, ab hac descriptione discrevimus, Commagena, nunc Euphratensis, clementer adsurgit, Hierapoli, vetere Nino et Samosata civitatibus amplis inlustris.</p>
            </div>
        </div>
    </div>
    <div class="fixed_content">
    	<h2>Où nous trouver</h2>
    </div>
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <div class="google_map_conteneur">
    	<iframe class="google_map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2625.7815173286303!2d2.4294460000000004!3d48.843306!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e672976d7e7889%3A0x67dfda591f3e80be!2sCours+Louis+Lumi%C3%A8re%2C+94300+Vincennes%2C+France!5e0!3m2!1sfr!2s!4v1406468642407"  frameborder="0" style="border:0"></iframe>
    </div>
</div>
{% endblock %}
