<div class="edit-date-container">
	<select id="edit-date" name="date">
            <option value="0" selected="selected">Choisissez une date</option>
	    {% for string, date in dates %}
	        <option value="{{string}}">{{date}}</option>
	    {% endfor %}
	</select>
        
        <a class="intranet_button" id="edit-submit" href="{{ path('client_edit_statistics', {'id': clientId, 'date': '0'}) }}">Modifer</a>
</div>
 
{% for flashMessage in app.session.flashbag.get('notice') %}
    <span class="flash-notice">
        {{ flashMessage }}
    </span>
{% endfor %}