{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
<div class="video_content">
	<div class="fixed_content">
    	<video class="video_back" autoplay loop poster="{{ asset('bundles/market3wsite/images/video/static_background.jpg') }}" id="bgvid">
                <source src="{{ asset('bundles/market3wsite/images/video/office.webm') }}" type="video/webm">
                <source src="{{ asset('bundles/market3wsite/images/video/office.mp4') }}" type="video/mp4">
            </video>
    </div>
    
</div>
{% endblock %}