{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
<div class="contact_content">
    <div class="fixed_content">
	    <h1>Prendre un rendez-vous</h1>
	 
	    {% if is_granted('ROLE_CLIENT') %}
	        {% include 'Market3wSiteBundle:Contact:_client.html.twig' %}
	    {% elseif is_granted('ROLE_PROSPECT') %}
	        {% include 'Market3wSiteBundle:Contact:_formRdv.html.twig' %}
	    {% endif %} 
    </div>
</div>
{% endblock %}
