{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}
	<div class="fixed_content">
	    <h1>Merci</h1>
	    <p>Un conseiller vous confirmera votre rendez-vous dans les plus brefs délais.</p>
	</div>
{% endblock %}
