{% extends 'Market3wSiteBundle::layout.html.twig' %}

{% block content %}

    <h1>Mentions légales</h1>
    <p>
        En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la 
        confiance dans l'économie numérique, il est précisé aux utilisateurs du 
        site www.market3w.com l'identité des différents intervenants dans le 
        cadre de sa réalisation et de son suivi :
    <ul>
        <li><b>Propriétaire</b> Market3W – SARL – 10 cours Louis Lumière 94300 Vincennes</li>
        <li><b>Créateur</b> M. Ditte</li>
        <li><b>Responsable de la publication</b> M. Ditte – <a href="mailto:ditte@market3w.com">ditte@market3w.com</a></li>
        <li><b>Webmaster</b> M. Ditte – <a href="mailto:ditte@market3w.com">ditte@market3w.com</a></li>
        <li><b>Hébergeur</b> OVH – 2 rue Kellermann 59100 Roubaix</li>
    </ul>
</p>

{% endblock %}